
Plugins>ImageJ on GPU (CLIJx)>Filter, "ImageJs Gaussian Blur (CLIJx, experimental)", net.haesleinhuepf.clijx.imagej.ImageJGaussianBlur
Plugins>ImageJ on GPU (CLIJx)>Filter, "ImageJs Variance (CLIJx, experimental)", net.haesleinhuepf.clijx.imagej.ImageJVariance
Plugins>ImageJ on GPU (CLIJx)>Binary, "ImageJs Watershed (CLIJx, experimental)", net.haesleinhuepf.clijx.imagej.ImageJWatershed
Plugins>ImageJ on GPU (CLIJx)>Binary, "ImageJs Fill Holes (CLIJx, experimental)", net.haesleinhuepf.clijx.imagej.ImageJFillHoles
